.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin-bottom: 2em;
  gap: 1em;

  & input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1.2em;
  }
  
  & button {
    font-size: 1.2em;
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 4px;
    white-space: nowrap;
  }
}

.levels {

  display: flex;
  flex-direction: column;
  gap: 2em;

  &_item {
    padding: 1em;
    max-width: 728px;

    background-color: rgba(230, 229, 229, 0.2);
    &:hover {
      & h3 {
        color: rgb(198, 115, 115);
      }
      background-color: rgba(230, 229, 229, 0.4);
    }

    display: flex;
    flex-direction: column;

    width: 100%;
    gap: .25em;
  }
}