.container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.mailSelectedContainer {
  padding: 1.25rem 2.5rem;
  width: 100%;

  background: #dddddd;

  display: flex;
  flex-direction: column;

  gap: 0.75rem;

  &_content {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column-reverse;
  }
}

.mailContainer {
  display: flex;
  flex-direction: column;
}

.mailItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  border-bottom: 1px solid #e5e5e5;
  flex-wrap: wrap;

  &_title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &_author {
    font-size: 1rem;
    color: #999;
  }
  
  background: #f5f5f5;

  &_selected {
    background: #dddddd;
  }

  &_buttons {
    display: flex;
    align-items: center;
    gap: 0.5em;

    & button {
      padding: 0.5em 1.25em;
      border: 1px solid;

      color: #000;
      background: #f5f5f5;

      cursor: pointer;
      &:hover {
        color: #fff;
      }
    }

    &_read {
      $success: #969696;

      border-color: $success;
      &:hover {
        color: $success;
        background: $success;
      }
    }
    
    &_spam {
      $spam: #f44336;

      border-color: $spam;
      &:hover {
        color: $spam;
        background: $spam;
      }
    }
  }
}

.mails {
  &_1 {
    margin-bottom: 2em;

    &__status {
      font-weight: bold;
      text-transform: uppercase;

      padding: 0.5em 0;
    }

    &__button {
      margin: 1em 0;

      background: rgb(255, 201, 40);
      padding: 0.5em 1.25em;

      border: none;
      cursor: pointer;

      border-radius: 12px;
    }
  }

  &_2 {
    margin-bottom: 2em;

    & a {
      color: #3798dd;
      text-decoration: underline;
    }
  }

  &_3 {
    margin-bottom: 2em;

    &__button {
      margin: 1em 0;

      background: #000;
      color: #fff;
      padding: 0.5em 1.25em;

      border: none;
      cursor: pointer;

      border-radius: 12px;
    }
  }

  &_4 {
    margin-bottom: 2em;
    text-align: center;

    & h2 {
      font-size: 1.5rem;
      font-weight: bold;

      padding: 0.5em 0;
      border-radius: 12px;
      background-color: #6441a5;
      color: #fff;

      margin-bottom: 16px;
    }

    & p, & ul {
      text-align: center;
      margin-bottom: 12px;
    }

    & b, & li {
      font-weight: bold;
      color: #7d52cc;
    }

    & button {
      margin: 1em 0;

      background: #7d52cc;
      color: #fff;
      padding: 0.5em 1.25em;

      border: none;
      cursor: pointer;

      border-radius: 12px;
    }
  }

  &_5 {
    margin-bottom: 2em;

    & a {
      color: #3798dd;
    }
  }

  &_spam {
    color: #fff;
    font-weight: bold;

    background-color: #f44336;

    border-radius: 8px;
    padding: 1.25em;

    margin-bottom: 14px;
  }
}