.backdrop {
  position: fixed;
  top: 0; left: 0;

  width: 100vw;
  height: 100vh;
  z-index: 1;
  
  background: rgba(0, 0, 0, 0.5);
}

.container {
  position: fixed;
  bottom: 0; left: 0; right: 0;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  background: #fff;
  
  padding: 1.5em;
  // margin: 1.25em;

  max-width: 600px;
  margin-inline: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: flex-end;

  flex-direction: column;
  gap: .5em;
}