.logo {
  width: 500px;
  height: auto;

  margin: 0 2rem;

  &.active path {
    fill: #fff;
    animation: fill_animation 2s ease forwards;
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
  }

  &:not(.active) path {
    animation: stroke_animation 2.5s ease-in-out infinite;
    stroke-dashoffset: 300;
    stroke-dasharray: 300;
  }
}

@keyframes stroke_animation {
  10% {
    stroke-dashoffset: 300;
  }

  50% {
    stroke-dashoffset: 0;
  }

  90% {
    stroke-dashoffset: 300;
  }
}

@keyframes fill_animation {
  0% {
    fill: #000;
  }

  50% {
    stroke-dashoffset: 0;
    fill: #fff;
  }

  100% {
    stroke-dashoffset: 0;
    fill: #fff;
  }
}