.container {
  height: 100%;
  width: 0;

  display: flex;
  flex-direction: column;

  padding: 2em;

  flex-wrap: wrap;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.75em;

  cursor: pointer;

  height: 112px;
  width: 112px;
  
  font-size: .85em;
  text-align: center;
  
  border-radius: 12px;
  padding: 0.75em;
  margin: .75em;
  
  background: rgba($color: #000000, $alpha: .1);
  transition: .2s;
  
  &:hover {
    background: rgba($color: #000000, $alpha: .2);
    border-radius: 16px;
  }
}