.goBackButton {
  position: fixed;
  top: 0; left: 0;

  padding: 0.5rem 1rem;
  margin: 2em;
  background-color: #fff;
}

.container {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 0 1rem;
  gap: 1.75em;
}

.window {
  background: #ffffff49;

  border: solid 1px #ffffffb6;
  backdrop-filter: blur(4px);


  padding: 16px;
}